// BASICS //

$yellow: #F0DB4F;
$grey: #323330;
$pink: #FF69B4;
$white: #F9F9F9;
$transparent: transparent;

// SKILLS //

$wst: #1D76BB;
$html: #F16528;
$css: #2965F1;
$vue: #3FB27F;
$vsc: #22A6F2;
$express: #8BBF3D;
$mongo: #118D4D;
$figma: #9D56f7;
$github: #DBA197;
$linkedin: #0A66C2;

// TEXT-SHADOW // 

$grey-shadow: rgb(163, 167, 155);
$pink-shadow: rgb(150, 54, 97);
$js-shadow: rgb(111, 100, 29);
$html-shadow: rgb(128, 68, 41);
$css-shadow: rgb(35, 63, 139);
$vue-shadow: rgb(33, 110, 76);
$vsc-shadow: rgb(28, 85, 126);
$express-shadow: rgb(73, 99, 28);
$mongo-shadow: rgb(19, 94, 54);
$figma-shadow: rgb(98, 55, 153);
$github-shadow: rgb(116, 74, 61);
$linkedin-shadow: rgb(15, 67, 119);