@import './mixins';
@import './colors';

*,
*::before,
*::after { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "joystix";
    src: url("/public/assets/joystix.ttf");
}

*:focus {
    outline: none;
}

html {
    font-size: 62.5%;
    font-family: "joystix", sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
    @include background-color(background-color, $pink);
}

a {
    text-decoration: none;
    @include color(color, $white);
    @include transition(transition, color, .15s, ease-in-out);
}

p {
    font-size: 1rem;
}

span {
    @include color(color, $transparent);
    @include transition(transition, color, 1s, ease-in-out);
}

section {
    scroll-margin: 9.2rem;
}

.sectionActive {
    @include color(color, $grey);
}

.heading {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out;
}

header {
    position: fixed;
    width: 100%;
    z-index: 10;

    .nav {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        padding: 2rem 2rem;
        @include background-color(background-color, $pink);
        @include transition(transition, padding, .15s, ease-in-out);

        &__ul {
            position: absolute;
            width: 100%;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            font-size: 1.6rem;
            list-style: none;
            @include background-color(background-color, $pink);
            transition: right .15s ease-in-out, top .15s ease-in-out, height .15s ease-in-out;
        }

        &__li {
            position: relative;
            padding: 1rem;
        }

        &__a {
            padding: 1rem;

            &:after {
                position: absolute;
                bottom: -.4rem;
                left: 50%;
                width: 0;
                height: .4rem;
                transform: translateX(-50%);
                content: "";
                @include background-color(background-color, $grey);
                @include transition(transition, width, .15s, ease-in-out);
            }

            &:hover, &:focus {
                @include color(color, $grey);
                
                &:after{
                    width: 80%;
                }
            }
        }

        .burgerMenuBtn {
            padding: .5rem;
            cursor: pointer;
            @include background-color(background-color, $transparent);
            @include border(border, .1rem, solid, $transparent);
            @include transition(transition, border, .15s, ease-in-out);
            
            &:focus {
                @include border(border, .1rem, solid, $grey);
            }
            
            &:hover {
                .burgerMenuBtn__inner {
                    @include background-color(background-color, $pink);
                } 
                .burgerMenuBtn__inner:before, .burgerMenuBtn__inner:after {
                    @include background-color(background-color, $grey);
                }
            }
            
            &__box {
                position: relative;
                width: 4rem;
                height: 4rem;
            }
            
            &__inner {
                top: 50%;
                transform: translateY(-50%);
                @include burgerMenuBtn-line();
                
                &:before {
                    top: -1rem;
                    @include burgerMenuBtn-line();
                }
                
                &:after {
                    top: 1rem;
                    @include burgerMenuBtn-line();
                }
            }
            
            &--active  {
                .burgerMenuBtn__inner {
                    @include background-color(background-color, $transparent);
                }

                .burgerMenuBtn__inner:before {
                    top: 0;
                }
                
                .burgerMenuBtn__inner:after {
                    top: 0;
                }
            }
        }

        .scrollFollower {
            position: fixed;
            top: 0;
            left: 0;
            width: 0;
            height: .5rem;
            @include background-color(background-color, $pink);
            @include transition(transition, background-color, .5s, ease-in-out);
        }
    }
}

.burgerMenuNonActive {
    right: -100%;
}

.burgerMenuActive {
    right: 0;
}

main {
    .intro {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        @include color(color, $white)
    }
    
    .heroSection {
        height: 100vh;
        padding-top: 10.24rem;
        
        &__ul {    
            position: relative;
            height: 100%;
            display: flex;
            flex-direction: column;
            font-size: .8rem;
        }
        
        &__li {
            width: 0;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            @include color(color, $transparent);
            transition: width .5s ease-in-out, color 1s ease-in-out;

            &:nth-child(4n+1) {
                @include background-color(background-color, $grey);
            }
            
            &:nth-child(2n+2) {
                @include background-color(background-color, $yellow);
            }
            
            &:nth-child(3n+3) {
                @include background-color(background-color, $pink);
            }
        }
    }
}

.aboutMeSection {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;

    .aboutMeContainer {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;

        .image {
            width: 0;
            background: url('/public/assets/portrait-min.png');
            background-position: bottom;
            background-repeat: no-repeat;
            background-size: contain;
            @include background-color(background-color, $grey);
            @include transition(transition, width, .5s, ease-in-out);
        }

        &__content {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 12rem 0rem;

            &:nth-child(2) {
                @include background-color(background-color, $grey);
            }

            &:nth-child(3) {
                @include background-color(background-color, $yellow);
            }
        }

        &__bio {
            position: absolute;
            top: 50%;
            left: 150%;
            transform: translate(-50%, -50%);
            padding: 1rem;
            line-height: 1.5rem;
            @include background-color(background-color, $grey);
            transition: top .5s ease-in-out, left .5s ease-in-out;

                p {
                    @include color(color, $pink)
                }
        }

        &__description {
            position: absolute;
            top: 50%;
            left: 150%;
            transform: translate(-50%, -50%);
            width: 80vw;
            padding: 1rem;
            line-height: 1.5rem;
            @include background-color(background-color, $grey);
            transition: left .5s ease-in-out, top .5s ease-in-out;

            p {
                @include color(color, $pink)
            }
        }
    }
}

.bioSection {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 1rem;

    &__bgc {
        width: 50%;
        padding: 24rem 0rem;

        &:nth-child(3) {
            @include background-color(background-color, $yellow);
        }

        &:nth-child(2) {
            @include background-color(background-color, $grey);
        }
    }
    
    .bioContent {
        position: absolute;
        top: 50%;
        left: -150%;
        transform: translate(-50%, -50%);
        width: 80vw;
        transition: top .5s ease-in-out, left .5s ease-in-out;

        &__p {
            padding: 1rem;
            line-height: 1.75rem;
        }

        &__p:nth-child(odd) {
            @include color(color, $grey);
            @include background-color(background-color, $yellow);
        }

        &__p:nth-child(even) {
            @include color(color, $pink);
            @include background-color(background-color, $grey);
        }

        &__a {
            @include color(color, $blue);

            &:hover, &:focus {
                @include color(color, $pink);
            }
        }
    }
}

.skillsSection {
    position: relative;
    display: flex;
    justify-content: center;
    
    &__bgc {
        width: 50%;
        padding: 24rem 0rem;
        
        &:nth-child(3) {
            @include background-color(background-color, $grey);
        }

        &:nth-child(2) {
            @include background-color(background-color, $yellow);
        }
    }

    .skillsContent {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80vw;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        @include background-color(background-color, $grey);
        transition: left .5s ease-in-out, top .5s ease-in-out;
        
        &__cv {
            display: flex;
            justify-content: space-evenly;
        }
        
        &__div {
            display: flex;
            justify-content: flex-start;
            align-items: center;     
            padding: .25rem;
            
            &--h2 {
                padding: .5rem;
                font-size: 1rem;
                @include color(color, $pink);
            }
            
            &--percent {
                width: 10%;
                text-align: center;
                padding: .75rem;
                font-size: 1rem;
                @include color(color, $grey);
                @include background-color(background-color, $pink);
                @include transition(transition, width, .5s, ease-in-out);
            }

            &--a {
                font-size: 1rem;

                &:hover, &:focus {
                    @include color(color, $yellow);
                }
            }

            .github {
                @include color(color, $github);
            }

            .linkedin {
                @include color(color, $linkedin);
            }
        }
    }
}

.contactSection {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 1rem;
    
    &__bgc {
        padding: 16rem 0rem;

        &:nth-child(3) {
            @include background-color(background-color, $yellow);
        }

        &:nth-child(3n+2) {
            @include background-color(background-color, $grey);
        }
    }

    &__phone {
        position: absolute;
        top: 5%;
        left: 50%;
        transform: translate(-50%, -5%);
        padding: 1rem;
        font-size: 1rem;
        @include background-color(background-color, $grey);

        &--a {
            &:hover, &:focus {
                @include color(color, $yellow);
            }
        }
    }

    .contactForm {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -60%);
        width: 80vw;
        max-height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;

        &__label {
            padding: .75rem;
            font-size: 1rem;

           &--email {
                @include color(color, $grey);
                @include background-color(background-color, $yellow);
           }

           &--message {
                @include color(color, $pink);
                @include background-color(background-color, $grey);
           }
        }
        
        &__input {
            width: 100%;
            padding: 1rem;
            font-family: "joystix";
            font-size: 1rem;
            @include color(color, $pink);
            @include background-color(background-color, $grey);
            @include border(border, .1rem, solid, $yellow);

            &:focus {
                @include border(border, .1rem, solid, $pink);
            }
        }

        &__textArea {
            width: 100%;
            max-width: 100%;
            height: 50vh;
            padding: 1rem;
            font-family: "joystix";
            font-size: 1rem;
            @include color(color, $pink);
            @include background-color(background-color, $grey);
            @include border(border, .1rem, solid, $yellow);
            
            &:focus {
                @include border(border, .1rem, solid, $pink);
            }
        }

        &__button {
            width: 50%;
            padding: 1rem;
            font-family: "joystix";
            font-size: 1rem;
            cursor: pointer;
            @include color(color, $grey);
            @include background-color(background-color, $yellow);
            @include border(border, .1rem, solid, $transparent);
            transition: color .15s ease-in-out, background-color .15s ease-in-out;
            
            &:hover, &:focus {
                cursor: pointer;
                @include color(color, $pink);
                @include background-color(background-color, $grey);
                @include border(border, .1rem, solid, $transparent);
            }
        }
    }
}
